.entry-card {
  border-bottom: $border-light;
  padding: 2 * $spacing 0;

  &:first-child {
    border-top: $border-light;
  }

  &--new-badge {
    float: right;
    background-color: $brand-green-light;
    border-radius: $border-radius;
    display: inline-block;
    padding: 0 $spacing/2/2;
    margin-left: $spacing/2;
  }

  &--title {
    font-size: modular-scale(1);
    font-weight: 400;
    margin-bottom: 0;

    a {
      text-decoration: none;
      color: $brand-blue-dark;
    }
  }

  &--organisation {
    font-size: modular-scale(1);
    line-height: $heading-line-height;
  }

  &--header {
    margin-bottom: $spacing;
  }

  &--intro {
    line-height: $heading-line-height;
  }

  &--footer {
    color: $gray-medium;
    display: flex;
    flex-direction: row;

    line-height: $heading-line-height;
    margin-top: $spacing;
    flex-wrap: wrap;

    span {
      display: inline-block;

      &:not(:first-child) {
        padding-left: $spacing / 1.5;
      }

      + span {
        margin-left: $spacing/2/2;
      }
    }

    &--left {
      flex: 1 0 auto;
      padding-right: $spacing/2;
    }
  }

  &--distance {
    color: $gray-dark;
    background-color: $gray-light;
    border-radius: $border-radius;
    padding: 0 $spacing/2;
  }
}

.entry-card--location + .entry-card--distance svg {
  display: none;
}
