.primary-footer {
  position: relative;
  z-index: 9;
  height: 90vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: 2 * $spacing;
  transition: color 4 * $duration ease;
  -webkit-font-smoothing: antialiased;

  * {
    position: relative;
    z-index: 1;
  }

  &::before {
    pointer-events: none;
    opacity: 0;
    z-index: -1;
    transition: opacity 4 * $duration ease;
    position: absolute;
    top: -50vh;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to top, transparentize($brand-blue-dark,0) 30%, transparentize($brand-blue-dark,1) 100%);
    content: '';
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include mq(md) {
      flex-direction: row;
    }
  }

  a {
    color: white;
    opacity: .65;
    transition: opacity $duration ease;
    text-decoration: none;

    &:hover {
      opacity: 1;
    }
  }

  &--left {
    margin-bottom: 2 * $spacing;

    a {
      display: block;
    }
  }

  &--right {
    margin-bottom: 2 * $spacing;

    h3 {
      font-size: ms(0);
      margin-bottom: $spacing/2;
    }
  }
}

.footer-brand {
  font-size: ms(1);
  text-transform: lowercase;
  margin-bottom: $spacing/2;

  svg {
    width: 1em;
    height: auto;
  }
}


.intersectionless-footer .primary-footer {
  background-color: $brand-blue-dark;
  color: white;
}

body.has-visible-footer {
  background-color: $brand-blue-dark;

  .primary-footer {

    * {
        color: white;
    }

    &::before {
      opacity: 1;
    }
  }
}
