.navbar {
  background-color: $brand-blue-dark;
  color: white;
  text-transform: lowercase;
  position: relative;
  z-index: 999;
  left: 0;
  right: 0;
  top: 0;

  body.inverted_nav & {
    background-color: #fff;
    color: $brand-blue-dark;
  }

  &--brand {
    font-family: $font-family-heading;
    -webkit-font-smoothing: antialiased;
    opacity: 1 !important;
    font-size: ms(1);
    font-weight: 400;
    height: $spacing;
    line-height: $spacing;

    @include mq(md) {
      margin-right: 3 * $spacing;
    }

    svg {
      vertical-align: middle;
      display: inline-block;
      width: 0.8 * $spacing;
      height: 0.8 * $spacing;
    }
  }

  a:not(.button) {
    color: inherit;
    opacity: 0.9;
    text-decoration: none;
    transition: opacity $duration;

    &:hover {
      opacity: 1;
    }
  }

  .dropdown-menu {
    background-color: white;

    a {
      color: $brand-blue-dark;
    }
  }

  &__auth-login,
  &__auth-register {
    @include mq(lg) {
      background-color: transparent;
      color: $brand-blue-dark;
    }
  }

  &__home {
    background-color: transparent;
    color: $brand-blue-dark;

    a:not(.button) {
      color: $brand-blue-dark;
    }

    .navbar--brand svg path {
      fill: $brand-blue-dark;
    }
  }

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 0;
  }

  &__primary {
    .container {
      height: $navbar-height;
      line-height: $navbar-height;
    }
  }

  &__secondary {
    background-color: $brand-green;
    height: 2 * $spacing;
    line-height: 2 * $spacing;
  }

  &--nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    @include mq(md) {
      text-align: left;
      flex-direction: row;
      align-items: center;
    }

    &__right {
      @include mq(md) {
        margin-left: auto;
        padding-left: $spacing;
      }
    }
  }

  &--navs {
    display: flex;
    flex-direction: row;
    flex: 1;
    @include mq-down(md) {
      flex-direction: column;
      background-color: white;
      position: fixed;
      transform: translateX(100%);
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      align-items: center;
      justify-content: center;
      transition: transform $duration;

      &.active {
        transform: translateX(0%);
      }
    }
  }
}

.nav-item + .nav-item {
  @include mq(md) {
    margin-left: $spacing/2;
  }
}

.nav-link {
  padding-left: $spacing/2;
  padding-right: $spacing/2;
}

.navbar--toggler {
  appearance: none;
  border: none;
  position: fixed;
  z-index: 99;
  top: $spacing/2;
  right: $spacing;
  border-radius: 50%;
  height: 2.5 * $spacing;
  width: 2.5 * $spacing;
  box-shadow: $box-shadow;
  @include mq(md) {
    display: none;
  }

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.dropdown-menu {
  display: none;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-item {
  padding: 0 $spacing;
  text-align: right;
}
