.tag {
    font-size: 1rem;
    background-color: $brand-peach;
    font-weight: normal;
    border-radius: $border-radius;
    padding: 0 0.5rem;
    font-family: $font-family-base;
    vertical-align: top;
    margin-left: $spacing/4;
}
