.communitywakefield-hero-badges-bottom,
.communitywakefield-hero-badge-top {
  position: absolute;
  top: 50vh;
  left: -2em;
  height: auto;
  width: 100vw;
  transform: translate3d(0, 0, -0.1px) scale(1.1);
  z-index: -9;
  display: none;

  @include mq(md) {
    display: block;
  }
}

.communitywakefield-hero-badge-top {
  top: 5em;
  left: 45%;
  width: 15vw;
  transform: translate3d(0, 0, 0.2px) scale(0.8);
}

.home-hero--image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  transform: translate3d(0, 0, -0.2px) scale(1.2);
  background-image: url("/images/communitywakefield-hero.jpg"),
    linear-gradient(to bottom, #e0dfe4, #dce7ef);
  background-size: auto 100%;
  background-position: right 0vw bottom;
  background-repeat: no-repeat;
  z-index: -9;
  // display: none;

  // @include mq(md) {
  //   display: block;
  // }

  body.volunteer-wakefield & {
    background-image: url("/images/hero-woman-magic_small.png");
    background-size: auto 100%;
    background-position: 30vw bottom;
  }
}

.section__home-hero {
  height: 100vh;
  margin-top: -$navbar-height;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 6 * $spacing;

  @include mq(md) {
    margin-bottom: 14 * $spacing;
    align-items: center;
  }

  .container {
    @include mq-down(md) {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
    }
  }

  &__covid {
    height: 100vh;

    @include mq(lg) {
      .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }

      .hero--message-box {
        width: 50%;
        margin-right: $spacing/2;
      }

      .hero--search-box--container {
        width: 50%;
        margin-top: 2 * $spacing;
      }
    }
  }
}

// .hero--message-box {
//   h1 {
//     font-size: ms(7);
//     line-height: 1;
//     color: $brand-blue-dark;
//     margin-bottom: $spacing/2;

//     @include mq-down(md) {
//       font-size: ms(5);
//       padding: $spacing $spacing 0;
//       margin-bottom: 0;
//     }
//   }

//   p {
//     font-size: ms(1);
//     margin-bottom: -3 * $spacing;

//     @include mq-down(md) {
//       padding: $spacing/2 $spacing 0;
//       margin-bottom: 0;
//     }
//   }
// }

.hero--search-box--container {
  @include mq(md) {
    width: 70%;
  }
}

.hero--search-box {
  position: relative;
  z-index: 99;
  max-width: $card-width;
  margin: $navbar-height auto 0;

  @extend %heavily-padded-box;

  &--title {
    font-size: ms(5);
    color: $brand-blue-dark;
    margin-bottom: 1.5 * $spacing;

    @include mq-down(md) {
      font-size: ms(3);
      margin-bottom: $spacing;
    }

    &__covid {
      color: $text-color;
      font-size: ms(3);
      font-weight: 500;
      font-family: $font-family-base;
      margin-bottom: $spacing;
    }
  }

  form {
    max-width: 22rem;

    .input {
      flex: 1;
    }

    .button {
      text-transform: lowercase;
      width: 100%;
      font-size: ms(0);
      // margin-bottom: $spacing/4;
      margin-left: $spacing/4;
    }

    @include mq(md) {
      input {
        margin: 0;
      }

      .button {
        width: auto;
        margin-bottom: 0;
      }
    }
  }

  &--label {
    display: block;
    font-size: ms(1);
    margin-bottom: $spacing/2;
  }

  &--select {
    display: block;
    width: 100%;
    margin-bottom: $spacing/4;
    height: 2 * $spacing;
  }

  &--postcode {
    display: flex;
    font-display: row;
  }
}
