.l-form-row > * {
  display: block;
}

.l-form-row > * + * {
  margin-top: 0.25rem;
}

.input {
  font-size: ms(1);
  display: inline-block;
  background-color: #fff;
  border: 0.15em solid $gray-lightest;
  line-height: 1.25 * $line-height;
  padding: 0 $spacing/2;

  @include mq(md) {
    line-height: 1.5 * $line-height;
  }
}

.textarea {
  display: inline-block;
  width: 100%;
  min-height: 10em;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  line-height: 1.5;
  background-color: #fff;
  border: 1px solid $gray-light;
  border-radius: 2px;
}
