.form-group {
  @include mq(lg) {
    display: flex;
    flex-direction: row;
    margin-bottom: $spacing;

    .input {
      flex: 1 1 50%;
    }

    * {
      display: block;
      flex: 1;
      + * {
        margin-left: $spacing;
      }
    }
  }
}

.input {
  font-size: ms(0);
  border-radius: $border-radius;
  display: inline-block;
  background-color: #fff;
  border: 1px solid $gray-light;
  line-height: 1.25 * $line-height;
  padding: 0 $spacing/2;
  box-shadow: 0 1px 2px 0 #0000000d;

  @include mq(md) {
    line-height: 1.5 * $line-height;
  }

  &:focus {
    border-color: $brand-blue;
    outline: none;
    box-shadow: $ring;
  }
}

.textarea {
  display: inline-block;
  width: 100%;
  min-height: 10em;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  line-height: 1.5;
  background-color: #fff;
  border: 1px solid $gray-light;
  border-radius: 2px;
}
