html {
  font-size: $font-size-root / 1.1;
  @include mq(lg) {
    font-size: $font-size-root;
  }
  @include mq(xl) {
    font-size: $font-size-root * 1.1;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-heading;
  font-weight: $font-weight-black;
  margin: 0;
  line-height: $heading-line-height;
  color: $gray-dark;
}

h1 {
  text-rendering: optimizeLegibility;
}

p {
  margin: 0;
  color: $gray-dark;
}

a {
  color: $brand-blue-dark;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: transparentize($brand-blue, 0.7);
  transition: text-decoration-color $duration;
  // text-underline-position: under;

  &:hover {
    text-decoration-color: $brand-blue;
  }
}
